@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  font-family: "Pacifico", cursive;
  text-align: center;
}

h1 {
  color: #ff69b4;
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  0% {
    color: #ff69b4;
  }
  50% {
    color: #fcb69f;
  }
  100% {
    color: #ff69b4;
  }
}

.hearts {
  display: flex;
  justify-content: center;
}

.heart {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #ff69b4;
  position: relative;
  animation: pulse 1.5s infinite;
  transform: rotate(-45deg);
}

.heart::before,
.heart::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #ff69b4;
  position: absolute;
  border-radius: 50%;
}

.heart::before {
  top: -25px;
  left: 0;
}

.heart::after {
  left: 25px;
  top: 0;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.2) rotate(-45deg);
  }
}

.bouquet {
  width: 100px;
  height: 150px;
  margin-top: 20px;
  position: relative;
  animation: float 2s infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #555;
}
